
.task-input-cotainer {
	display: flex;
	justify-content: space-between;
	margin: 0 2rem;
}

.task-input-cotainer > * {
	width: 40%;
}

.task-start-date input {
	padding: 10px;
}

.tasks-add-btn {
	position: absolute;
	margin-top: 1rem;
}
