.label {
    height: 16px;
    width: 288px;
}

.label .text-wrapper {
    color: #000000;
    font-family: "League Spartan-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    height: 16px;
    left: 100px;
    letter-spacing: 0;
    line-height: 16px;
    position: relative;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 288px;
}