
.reservation-management-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.reservation-add-btn {
	position: absolute;
	right: 0;
}

.search-reservation-input-btn {
	/* Instead of the input label that can't be empty for some reason */
	margin-top: 12pt;
}

.reservation-entry-list-container {
	margin-top: 16px;
	overflow-y: auto;
	max-height: 280px;
}
