.centeredLabel {
	margin: 1.5rem auto 0 auto;
    text-align: center;
    font-family: var(--font-league-spartan-family);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    color: var(--color-black);
    white-space: nowrap;
}
