.navigation-container {
	display: flex;
	padding: 1.5rem;
	margin: 1.5rem auto 0 auto;
}

.navigation-button {
    border-color: #000000;
}

.home-button {
    width: 120px;
    height: 49px;
}

.settings-button {
    width: 144px;
    height: 49px;
    margin-right: 0;
    margin-left: auto;
}

.logout-button {
    width: 116px;
    height: 49px;
}