.navigation-container {
	display: flex;
    justify-content: space-between;
	padding: 1.5rem;
	margin: 1.5rem auto 0 auto;
}

.navigation-container > div {
    display: flex;
}

.navigation-button {
    border-color: #000000;
    height: 36pt;
    padding: 0.5rem 2rem;
}

.system-information {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;
    font-size: 15pt;
    font-weight: 700;
}
