@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Reset the styles. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-league-spartan-family: "League Spartan", sans-serif;
}

body {
	background-color: var(--color-white);
	padding: 0;
	margin: 0;
}