
.rooms-extra-btns {
	position: relative;
	width: 100%;
}

.rooms-extra-btns > * {
	position: absolute;
}

.rooms-add-btn {
	right: 0;
}

.room-entry-list-wrapper {
	max-height: 400px;
	width: 100%;
	overflow-y: auto;
	width: fit-content;
	padding: 8px;
	margin: 8px auto;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}
